<.header>
  New Category
  <:subtitle>Use this form to manage category records in your database.</:subtitle>
</.header>

<.category_form changeset={@changeset} action={~p"/categories"} />

<.back navigate={~p"/categories"}>Back to categories</.back>
