<.header>
  New Site
  <:subtitle>Use this form to manage site records in your database.</:subtitle>
</.header>

<.site_form changeset={@changeset} action={~p"/sites"} />

<.back navigate={~p"/sites"}>Back to sites</.back>
