<%= if @demographic do %>
  <%!-- <Component.hero content="Survey">
    Please fill out our Survey
  </Component.hero> --%>

  <DemographicLive.Show.details demographic={@demographic} />
<% else %>
  <h2>Demographic Form comig soon.</h2>
<% end %>
