<.header>
  Edit Product <%= @product.id %>
  <:subtitle>Use this form to manage product records in your database.</:subtitle>
</.header>

<.product_form changeset={@changeset} action={~p"/products/#{@product}"} />

<.back navigate={~p"/products"}>Back to products</.back>
